[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coinmarketcapr"]
	path = coinmarketcapr
	url = https://github.com/amrrs/coinmarketcapr
[submodule "randquotes"]
	path = randquotes
	url = https://github.com/amrrs/randquotes
